@import "bootstrap/dist/css/bootstrap.min.css";


.playing-card{
    height: 60dvh;
    aspect-ratio: .70;
    background-color: white;
    border-radius: 6%;
}

.bottom-suit{
    transform: rotate(180deg);
}

.value{
    font-size: 6rem;
}